<script id="edit-delete-grid-row-actions" type="text/x-handlebars-template">
  <div class="btn-group">
    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
    <ul class="dropdown-menu">
      <li><a href="{{EditUrl}}" data-action="edit"><i class="icon-edit"></i> Edit</a></li>
      <li><a href="{{DeleteUrl}}" data-action="delete"><i class="icon-trash"></i> Delete</a></li>
    </ul>
  </div>
</script>